@charset "UTF-8";
.pagination {
	display: block;
	text-align: center;
}
.page-item {
	display: inline-block;
}
.pagination .page-item:not:first-child {
	margin-left: 0.1rem !important;
}
#anker:hover{
	text-decoration : none;
	color:black
}

#anker{
	color:gray
}
